.box {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* background-color: aqua; */
}
/* border-radius
background-color */
.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-left: 25%;
  align-items: center;
  /* background-color: blanchedalmond; */
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.input_box {
  width: 30%;
  /* background-color: blueviolet; */
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input_id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input_id_style {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: rgb(142, 186, 224);
}

.input_password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.input_pd_style {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: rgb(142, 186, 224);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.button_style {
  border : none;
  background-color: rgb(22, 72, 115);
  color: #fff;
  border-radius : 10%;
  height : auto;
  width : 70px;
}
