* {
  margin: 0;
  padding: 0;
}

.flex {
  width: 100%;
  height: 600px;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.id {
  margin: 10px;
}

.password {
  margin: 10px;
}

input {
  border: none;
  background-color: #ceecf5;
  border-bottom: solid black;
  text-align: center;
}

.login {
  display: flex;
  justify-content: end;
}

button {
  align-items: flex-start;
  border-radius: 10%;
  padding: 3px;
}
.intro {
  margin: 30px;
}

.id span {
  padding-right: 20px;
}

.password span {
  padding-right: 6.5px;
}
