.login {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.login--form {
    width: 300px;
    justify-content: center;
}
.login--input {
    display: flex;
    justify-content: space-between;    
}

.login--button {
    display: flex;
    justify-content: flex-end;
}