.wrapper {
    width: 80%;
}

.A {
    display: flex;
    justify-content: flex-end;
}
.A_button {
    border-style: none;
    background-color: white;
}

.B {
    display: flex;
    background-color: aliceblue;
}

.B_left {
    padding-right: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-right: 1px solid;
    width: 40%;
}

.B_button_bg {
    display: flex;
    justify-content: flex-end;
}

.B_button {
    border-style: none;
    background-color: aliceblue;
    color: brown;
    padding-top: 10px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.text_input {
    background-color: aliceblue;
    border: none;
    border-bottom: 1px solid;
}

.content_input {
    background-color: aliceblue;
}