.data_none_div {
    min-height: inherit;
    display: none;
}
.attendee {
    width: 700px;
    margin: 0 auto;
    min-height: 270px;
}
.attendee--title {
    font-size: 16px;
    color: #505050;
    border-left: 4px solid #a9a9a9;
    padding-left: 5px;
}
.attendee--imgList {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0px;
}
.attendee--img {
    position: relative;
}
.attendee--profile {
    width: 70px;
    height: 87px;
    margin: 0px 15px;
}
.attendee--text {
    text-align: center;
    color: #505050;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}